In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
# On importe le csv previous_application
df = pd.read_csv('/Users/p-asalisbury/Dropbox/Mon Mac (MacBook Air de P-A)/Desktop/Chef_doeuvre/CSV_Originaux/previous_application.csv')
df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# On sÃ©lÃ©ctionne toutes les colonnes qui nous intÃ©ressent

df = pd.read_csv('/Users/p-asalisbury/Dropbox/Mon Mac (MacBook Air de P-A)/Desktop/Chef_doeuvre/CSV_Originaux/previous_application.csv')[['SK_ID_PREV','SK_ID_CURR','NAME_CONTRACT_TYPE','AMT_APPLICATION','AMT_GOODS_PRICE','NAME_CONTRACT_STATUS','DAYS_DECISION','NAME_PAYMENT_TYPE','CODE_REJECT_REASON','NAME_GOODS_CATEGORY']]


df.rename(columns={'SK_ID_PREV': 'id_credit',  
                    'SK_ID_CURR':'id_client',
                    'NAME_CONTRACT_TYPE':'type_credit',
                    'AMT_APPLICATION':'montant_demande_credit',
                    'AMT_GOODS_PRICE':'montant_credit_accorde',
                    'NAME_CONTRACT_STATUS':'statut_contrat',
                    'DAYS_DECISION':'nombre_jours_decision',
                    'NAME_PAYMENT_TYPE':'moyen_de_paiement',
                    'CODE_REJECT_REASON':'raison_rejet',
                    'NAME_GOODS_CATEGORY': 'type_bien'}, inplace=True)


pd.set_option('display.max_columns',None)
df.head()

,id_credit,id_client,type_credit,montant_demande_credit,montant_credit_accorde,statut_contrat,nombre_jours_decision,moyen_de_paiement,raison_rejet,type_bien
0,2030495,271877,Consumer loans,17145.0,17145.0,Approved,-73,Cash through the bank,XAP,Mobile
1,2802425,108129,Cash loans,607500.0,607500.0,Approved,-164,XNA,XAP,XNA
2,2523466,122040,Cash loans,112500.0,112500.0,Approved,-301,Cash through the bank,XAP,XNA
3,2819243,176158,Cash loans,450000.0,450000.0,Approved,-512,Cash through the bank,XAP,XNA
4,1784265,202054,Cash loans,337500.0,337500.0,Refused,-781,Cash through the bank,HC,XNA

In [4]:
# On peut supprimer les NaN dans montant_credit_accorde. On a un df initial avec 1,6 million d'entrÃ©es
df = df.dropna(subset=['montant_credit_accorde'])

In [5]:
# On recode les types de biens
df.type_bien=df.type_bien.replace(['XNA','Mobile','Consumer Electronics','Computers','Audio/Video','Furniture','Photo / Cinema Equipment','Construction Materials','Clothing and Accessories','Auto Accessories','Jewelry','Homewares','Medical Supplies','Vehicles','Sport and Leisure','Gardening','Other','Office Appliances','Tourism','Medicine','Direct Sales','Fitness','Additional Service','Education','Weapon','Insurance','Animals','House Construction'],['XNA','TÃ©lÃ©phonie, Audio/VidÃ©o','Electronique','TÃ©lÃ©phonie, Audio/VidÃ©o','Electronique','Maison','Electronique','Maison','Meubles','Articles mÃ©nagers','VÃªtements et accessoirs','Maison','Bijoux','Articles mÃ©nagers','MÃ©dical','Maison','Loisirs','Maison','Loisirs','Bijoux','Loisirs','MÃ©dical','Loisirs','Loisirs','Loisirs','Loisirs','Loisirs','Maison'])

In [6]:
# On prend la valeur absolue des Ã©lÃ©ments de la colonne nombre_jours_dÃ©cision
# On convertit aussi les jours en mois 
# Enfin, on convertit les nombres dÃ©cimaux en entiers. 

df['nombre_jours_decision']=abs(df['nombre_jours_decision']/30)
df['montant_demande_credit']=df['montant_demande_credit'].astype(int)
df['montant_credit_accorde']=df['montant_credit_accorde'].astype(int)
# On renomme la colonne transformÃ©e
df.rename(columns={'nombre_jours_decision': 'nombre_mois_decision'}, inplace=True)
df['nombre_mois_decision'] = df['nombre_mois_decision'].astype(int)

In [7]:
df.head()

,id_credit,id_client,type_credit,montant_demande_credit,montant_credit_accorde,statut_contrat,nombre_mois_decision,moyen_de_paiement,raison_rejet,type_bien
0,2030495,271877,Consumer loans,17145,17145,Approved,2,Cash through the bank,XAP,"TÃ©lÃ©phonie, Audio/VidÃ©o"
1,2802425,108129,Cash loans,607500,607500,Approved,5,XNA,XAP,XNA
2,2523466,122040,Cash loans,112500,112500,Approved,10,Cash through the bank,XAP,XNA
3,2819243,176158,Cash loans,450000,450000,Approved,17,Cash through the bank,XAP,XNA
4,1784265,202054,Cash loans,337500,337500,Refused,26,Cash through the bank,HC,XNA

In [9]:
import csv
df.to_csv('POWER_BI_CREDIT.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)